
/* ********Travel agency****** */


/* ***************Main page*********** */
.wrapper{

    margin: 0 auto;
}

    
* {
    box-sizing: border-box;
}

/* ********header********** */
.desktop-menu{
    height: 100px;
    display: flex;
    justify-content: space-around;
    background:#549ae0;
}
.logo{
    color: #919f08;
    padding-top: 25px;
}
.menu{
      width: 50%;
}
.links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 1.3em;

}
desktop-menu{
    display: block;

}
.mobile-menu{
    display: block;
}

.hamburger-button{

    display: none;
    border: none;
    color: white;
    background: transparent;
   

}
.mobile-container{
    width: 400px;
    height: 300px;
    background: #549ae0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: translateX(-400px);
    
}
.mobile-container.open {
    transform: translateX(0px);
}

.mobile-container li{

        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid white;


}

@media screen and  (max-width:750px)
{
    
    .hamburger-button{
        display: block;
    }
    .logo  {
        position: absolute;
        left: 10px;
        margin: auto;
     }
    #log{
        display: none;
    }
    .menu{
        display: none;
    }
    
   
   .mobile-menu{
       display: block;
   }
}


/* *********Hero/main page*********** */


.hero{
    height: 600px;
    background:#549ae0 url('./images/hero3.jpg') no-repeat;
    background-position: center;
    background-size:contain ;
  
}
.hero > img{
    width: 12%;
    height: 10%;
   
}

/* *****main section /home page  ********** */
.main{
    height: 400px;
    background-color:pink;

}


/* **********contact page************** */

.contact-hero{
    height: 300px;
    background: linear-gradient(
        rgba(10, 10, 10,0.50 ),
         rgba(23, 21, 21,0.50)),  url('./images/contact.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero-content{
    color: white;
    width: 70%;
    text-align:center;
   
}

.contact-main{
    text-align: center;
    height: 300px;
    background: wheat;
}
#nameList{
    list-style: none;
   
}
.listItem{
    padding: 10px;
   
    
}

/* ***********package page********** */


.package-hero{
    height: 300px;
    background: linear-gradient(
        rgba(10, 10, 10,0.80 ),
         rgba(23, 21, 21,0.80)),  url('./images/package1.jpg') ;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;



}
.package-content{
    color: white;
    width: 70%;
    text-align:center;
   
}
.package-main{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    background: wheat;
}
.card{
height: 300px;
width: 48%;
background:#c4daf1;
margin: 8px;
padding: 20px;
}

/* ************Register page******* */



.register-hero{
    height: 300px;
    background: linear-gradient(
        rgba(10, 10, 10,0.80 ),
         rgba(23, 21, 21,0.80)),  url('./images/register.jpg') ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    color: white;


}
.register-main{
      text-align: center;

}
#userform{
    border: solid 1px black;
    padding: 10px;
  
}
.box{
    width:200px;
    

}




/* *******Footer******** */

footer{
    padding: 30px;
    height: 80px;
    text-align: center;
    background-color: #549ae0;
}
footer h3{
    margin: 0;

}